.git
.gitignore
.dockerignore
node_modules
**/node_modules
**/dist
**/.nuxt
**/.output
**/.nitro
**/.data
**/.cache
**/tsp-output
**/.env
**/.env.*
!**/.env.example
test-results
playwright-report
coverage
*.log
